vendor
build
composer.phar
composer.lock
.phpunit.result.cache
report
.DS_Store
*.sublime-project
*.sublime-workspace
testbench/
.idea
.phpunit.cache
coverage
docs
phpunit.xml
phpstan.neon
testbench.yaml
node_modules