<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stderr="true">
    <testsuites>
        <testsuite name="BlinqPayPaymentRouterTestSuite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="CONFIG_CACHE_PATH" value=""/>
        <env name="ROUTE_CACHE_PATH" value=""/>
        <env name="EVENT_CACHE_PATH" value=""/>
        <env name="VIEW_CACHE_PATH" value=""/>
    </php>
</phpunit>